body {
  display: flex;
  flex-flow: row;
}

.gameboard-container {
  display: flex;
  flex-flow: column;
}

.board-row {
  display: flex;
  flex-flow: row;
}


.row-label {
  width: 70px;
  text-align: center;
}

.column-label {
  width: 70px;
  padding-top: 30px;
  margin-right: 2px;
}

ul {
  list-style: none;
  margin: 0;
}

.square {
  width: 70px;
  height: 70px;
  transition: background-color 400ms linear 400ms;
}

.black-square {
  background-color: rgba(121, 29, 29, 0.79);
}

.white-square {
  background-color: rgba(158, 158, 158, 0.9);
}

.active-square {
  background-color: rgba(83, 70, 203, 0.76);
}

.piece-icon {
  width: 60px;
  height: 60px;
  margin: 5px;
}
