.gameboard-container {
  display: flex;
  flex-flow: column;
}

.board-row {
  display: flex;
  flex-flow: row;
}


.row-label {
  width: 70px;
  text-align: center;
}

.column-label {
  width: 70px;
  padding-top: 30px;
  margin-right: 2px;
}

ul {
  list-style: none;
  margin: 0;
}

.square {
  width: 70px;
  height: 70px;
  transition: background-color 800ms linear 800ms;
}

.black-square {
  background-color: rgba(158, 158, 158, 0.91);
}

.white-square {
  background-color: rgba(158, 158, 158, 0.18);
}

.active-square {
  background-color: magenta;
}

.piece-icon {
  width: 60px;
  height: 60px;
  margin: 5px;
}
